﻿@model IEnumerable<Blog_5.Models.Cnpm>

@{
    ViewBag.Title = "Công Nghệ Phần Mềm";
}

<html>
<body style="background-color:green ;">
</body>
</html>

<nav>
    <ul id="menu1">
        <li>@Html.ActionLink("Lập Trình Hướng Đối Tượng", "Index", "Post")</li>
        <li>@Html.ActionLink("Công Nghệ Phần Mềm", "Index", "Post")</li>
        <li>@Html.ActionLink("Lập Trình Windows", "Index", "Post")</li>

    </ul>
</nav>