﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ProIT.vn - Học tốt CNTT</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Proit.vn", "Index", "Home")</p>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Diễn Đàn", "Index", "DienDan")</li>

                        </ul>
                    </nav>
                </div>
                <div class="float-right">

                    <div class="float-right">
                        <form class="searchform" action="" method="get">
                            <input class="s" onfocus="if (this.value == 'Search …') {this.value = '';}"
                                   onblur="if (this.value == '') {this.value = 'Search …';}" type="text" name="s"
                                   value="Search …" />
                            <input class="searchsubmit" type="submit" value="Tìm Kiếm" />
                        </form>
                    </div>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                  @* <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Diễn Đàn", "Index", "DienDan")</li>
                         
                        </ul>
                    </nav>*@
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
           
                
                @RenderBody()
                <b><li>@Html.ActionLink("Nhập Môn CNTT", "Index", "NhapMon")</li></b>
                <b><li>@Html.ActionLink("Công Nghệ Phần Mềm", "Index", "Cnpm")</li></b>
                <b><li>@Html.ActionLink("Lập Trình Web", "Index", "Ltw")</li></b>
                <b><li>@Html.ActionLink("Hệ Thống Thông Tin", "Index", "Httt")</li></b>
</section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>


        @RenderSection("scripts", required: false)
    </body>
</html>
