﻿@model IEnumerable<Blog_5.Models.DienDan>
@{
    ViewBag.Title = "Trang Diễn Đàn";
}
<html>
<body style="background-color:purple ;">
</body>
</html>


<nav>
    <ul id="menu1">
        <li>@Html.ActionLink("Diễn Đàn", "Index", "DienDan")</li>



    </ul>
</nav>


<p>
    <h3>@Html.ActionLink("Đăng bài", "Create")</h3>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenBai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaBai }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaBai }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaBai })
            </td>
        </tr>
    }

</table>
