﻿@model IEnumerable<Blog_5.Models.NhapMon>

@{
    ViewBag.Title = "Nhập môn CNTT";
}
<html>
<body style="background-color:yellow ;">
</body>
</html>

<nav>
        <ul id="menu1">
            <li>@Html.ActionLink("Nhập Môn Lập Trình", "Index", "Nmlt")</li>
            <li>@Html.ActionLink("Nhập Môn Ngành", "Index", "Nmn")</li>
            <li>@Html.ActionLink("Kỹ Thuật Lập Trình", "Index", "Ktlt")</li>

        </ul>
    </nav>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
