﻿@model Blog_5.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <h2>Post</h2>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<fieldset>
    <h2>Tag</h2>
    @foreach (var content in Model.Tags)
    {
    <div class="display-field">
        @Html.ActionLink( content.Content,"Details/"+ content.ID,"Tag")
    </div>
    }
</fieldset>

@Html.Partial("_addComment", new Blog_5.Models.Comment(), ViewData);

<fieldset>
    <h2>Comment</h2>
    @foreach(var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(5))
    {
         <div class="display-field">
        Cách đây: @Html.DisplayFor(x => comment.LastTime)
    </div>
        <div class="display-field">
        @Html.DisplayFor(x => comment.Body)
    </div>
    }
</fieldset>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
